{% extends "rest_framework_swagger/base.html" %}

{% block logo %}
<a id="logo" href="/api/v1/live/#!/v1/"><span class="logo__title">Live API Documentation </span></a>

<a id="nav" href="/api/"><span class="logo__title">API Home</span></a>
<a id="nav" href="/"><span class="button"> JASPAR Home</span></a>

{% endblock %}




