{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
 News and Updates
{% endblock %}

{% block content_header %}
 JASPAR Blog
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
  <li class="active">Blog</li>
{% endblock %}

{% block content %}

    <div class="row">
            
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-bullhorn"> </i> News and Updates </h3>

              </div>
            <!-- /.box-header -->
          <div class="box-body">

          <ul class="timeline">
          {% for post in posts %}

            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    {{ post.date|date }}
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa {% if post.category == 'Update' %} fa-code{% else %}fa-bullhorn{% endif %} bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-user"> </i> {{ post.author }} | <i class="fa fa-folder"> </i> {{ post.category|title }} | <i class="fa fa-clock-o"></i> {{ post.date|time }}</span>

                <h3 class="timeline-header"><a href="/blog/{{ post.date.year }}/{{ post.date.month|stringformat:'02d' }}/{{ post.date.day|stringformat:'02d' }}/{{ post.slug }}">{{ post.title }}</a></h3>

                <div class="timeline-body">

                {{ post.content|truncatechars:150|safe }}
                  
                </div>
                <div class="timeline-footer">
                  
                  <a class="btn btn-primary btn-xs" href="/blog/{{ post.date.year }}/{{ post.date.month|stringformat:'02d' }}/{{ post.date.day|stringformat:'02d' }}/{{ post.slug }}">Read more..</a>
                </div>
              </div>
            </li>

          {% endfor %}

          </ul>
            
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-twitter"></i>
                <h3 class="box-title">Twitter <a href="https://twitter.com/jaspar_db?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @jaspar_db</a>
          </h3>

              </div>
            <!-- /.box-header -->
            <div class="box-body">

              <a class="twitter-timeline" href="https://twitter.com/jaspar_db?ref_src=twsrc%5Etfw" data-height="550" data-link-color="#d84a45">Tweets by jaspar_db</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

    </div>

{% endblock %}