{% extends "rest_framework/api_base.html" %}
{% load static %}
{% load rest_framework %}

{% block title %}
Browsable API
{% endblock %}

{% block content_header %}
Browsable API
{% endblock %}
      
{% block breadcrumb %}
  <ol class="breadcrumb">

  <li><a href="/api/"><i class="fa fa-home"></i> Home</a></li>
  {% for name, url in breadcrumblist %}
       <li>
          <a href="{{ url }}" {% if forloop.last %}class="active"{% endif %}>{{ name }}</a> {% if not forloop.last %}
          {% endif %}
        </li>
   {% endfor %}
   </ol>

{% endblock %}

{% block stylesheets %}
   
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
{% endblock %}

{% block content %}

 <div class="row">

 {% block jumbotron %}
      
 {% endblock %}

    <div class="col-md-12">
     <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-folder-open"> </i> {{ name }} </h3>
              </div>
            <!-- /.box-header -->
            <div class="box-body">

               <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fa fa-info-circle"></i> This is JASPAR browsable API, which provides easy-to-use REST web interface to query/retrieve matrix profile data from JASPAR database. The API comes with a human browsable interface and also programmatic interface, which return the results in seven different formats, including <code>json</code>, <code>jsonp</code>, <code>jaspar</code>, <code>transfac</code>, <code>pfm</code>, <code>meme</code> and <code>yaml</code>, and also <code>api</code> for browsable interface. 
               </div>

               <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ description }}
               </div>


               <div class="row">
	        
	            <div class="col-md-10">
	            <pre><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
	            </div>
	            <div class="col-md-2">
	            {% if 'GET' in allowed_methods %}
	                <form id="get-form" class="pull-right">
	                        <div class="btn-group format-selection">
	                            <a class="btn btn-primary btn-sm js-tooltip" href='{{ request.get_full_path }}' rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

	                            <button class="btn btn-primary btn-sm dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
	                                <span class="caret"></span>
	                            </button>
	                            <ul class="dropdown-menu">
	                                {% for format in available_formats %}
	                                    <li>
	                                        <a class="js-tooltip format-option" href='{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}' rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
	                                    </li>
	                                {% endfor %}
	                            </ul>
	                        </div>
	                </form>
	            {% endif %}
	            </div>
	         </div>
<pre class="hierarchy bring-up prettyprint"><code class="language-bash" data-lang="jason">
<b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}
{% for key, val in response.items %}<b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>
{% endfor %}
{{ content|urlize_quoted_links }}
</code></pre>
{% endautoescape %}


	        {% if response.status_code != 403 %}

	            {% if post_form or raw_data_post_form %}
	            <div {% if post_form %}class="tabbable"{% endif %}>
	                {% if post_form %}
	                <ul class="nav nav-tabs form-switcher">
	                    <li><a name='html-tab' href="#object-form" data-toggle="tab">HTML form</a></li>
	                    <li><a name='raw-tab' href="#generic-content-form" data-toggle="tab">Raw data</a></li>
	                </ul>
	                {% endif %}
	                <div class="well tab-content">
	                    {% if post_form %}
	                    <div class="tab-pane" id="object-form">
	                        {% with form=post_form %}
	                        <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
	                            <fieldset>
	                                {{ post_form }}
	                                <div class="form-actions">
	                                    <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
	                                </div>
	                            </fieldset>
	                        </form>
	                        {% endwith %}
	                    </div>
	                    {% endif %}
	                    <div {% if post_form %}class="tab-pane"{% endif %} id="generic-content-form">
	                        {% with form=raw_data_post_form %}
	                        <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
	                            <fieldset>
	                                {% include "rest_framework/form.html" %}
	                                <div class="form-actions">
	                                    <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
	                                </div>
	                            </fieldset>
	                        </form>
	                        {% endwith %}
	                    </div>
	                </div>
	            </div>
	            {% endif %}

	            {% if put_form or raw_data_put_form or raw_data_patch_form %}
	            <div {% if put_form %}class="tabbable"{% endif %}>
	                {% if put_form %}
	                <ul class="nav nav-tabs form-switcher">
	                    <li><a name='html-tab' href="#object-form" data-toggle="tab">HTML form</a></li>
	                    <li><a  name='raw-tab' href="#generic-content-form" data-toggle="tab">Raw data</a></li>
	                </ul>
	                {% endif %}
	                <div class="well tab-content">
	                    {% if put_form %}
	                    <div class="tab-pane" id="object-form">
	                        <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
	                            <fieldset>
	                                {{ put_form }}
	                                <div class="form-actions">
	                                    <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" title="Make a PUT request on the {{ name }} resource">PUT</button>
	                                </div>
	                            </fieldset>
	                        </form>
	                    </div>
	                    {% endif %}
	                    <div {% if put_form %}class="tab-pane"{% endif %} id="generic-content-form">
	                        {% with form=raw_data_put_or_patch_form %}
	                        <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
	                            <fieldset>
	                                {% include "rest_framework/form.html" %}
	                                <div class="form-actions">
	                                    {% if raw_data_put_form %}
	                                    <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" title="Make a PUT request on the {{ name }} resource">PUT</button>
	                                    {% endif %}
	                                    {% if raw_data_patch_form %}
	                                    <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PATCH" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
	                                    {% endif %}
	                                </div>
	                            </fieldset>
	                        </form>
	                        {% endwith %}
	                    </div>
	                </div>
	            
	            {% endif %}
	        {% endif %}

		</div>
	</div>
	</div>
</div>
{% endblock %}


{% block javascript %}
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
{% endblock %}
